// Archivo de estilos para el fondo de la cancha
.court-background {
  min-height: 100vh;
  width: 100vw;
  background-image: url('/static/Court.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}