/* Fondo especial para la sección de perfil con dos imágenes unidas */
.profile-bg-split {
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
}

.profile-bg-split .left {
  flex: 1;
  background-image: url('/static/MJ.JPG');
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
}

.profile-bg-split .right {
  flex: 1;
  background-image: url('/static/KB.JPG');
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}