/* Fondo especial para la sección de perfil con MJ.JPG */
.profile-bg-mj {
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url('/static/MJ.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Fondo especial para la sección de preparación mental con KB.JPG */
.mental-bg-kb {
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url('/static/KB.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}